#board_container {
	/* border: 1px solid grey; */
	/* background-image: url("media/ss.png"); */
	background-color: grey;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(1px, auto);


	#nicCage {
	    width: 50px;
	    height: 50px;
	    position: absolute;
	    background: red;
	}

#title{
	background-image: url("http://www.cincinnatiartmuseum.org/media/29775/great-hall-007_don_ventre.jpg");
}
