#board_container {
	border: 1px solid grey;
	background-image: url("http://bryanortiz.com/city1.jpg");
	/* background-color: grey; */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(1px, auto);

	}

	.titleArea {
		/* border: 1px solid grey; */
		/* background-image: url("http://bryanortiz.com/city1.jpg"); */
		background-color: black;
	  display: grid;
	  grid-template-columns: repeat(3, 1fr);
	  grid-gap: 1px;
	  grid-auto-rows: minmax(1px, auto);

		}


#action{
float: left;
margin: 0px 15px 15px 0px;
}
