#board_container {
	/* border: 1px solid grey; */
	/* background-image: url("media/ss.png"); */
	background-color: grey;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(1px, auto);


	#nicCage {
	    width: 50px;
	    height: 50px;
	    position: absolute;
	    background: red;
	}


#action{
float: left;
margin: 0px 15px 15px 0px;
}
