/*=========== CORE CSS =============*/
::selection {
	background: transparent;
}
body {
	margin: 0;
	/* background-image: url(/media/ss.png); */
	background-color: black;
}

.logo {
	font-family: "Press Start 2P", cursive;
	font-size: 1.4em;
	line-height: 1em;
	margin: 0;
	text-align: center;
	color: rgb(250,200,0);
	text-shadow: 0.03em 0.03em 0.03em rgb(200,0,0),
				-0.03em -0.03em 0.03em rgb(200,0,0),
				0.1em 0.15em 0.15em rgb(0,0,0);
}

.logo span {
	display: block;
	font-size: 0.5em;
}

.no-textshadow .logo {
	filter: dropshadow(color=#000000,offX=3,offY=3);
}
